<div class="page-header">
  <h2>Hello {{main.email}} from home</h2>
</div>

<div ng-show="main.isLoggedIn" class="panel panel-primary">
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Images</th>
    <th>Visibility</th>
  </tr>
  <tr ng-repeat="person in main.items | limitTo: 10">
    <td>{{ person.title }}</td>
    <td>{{ person.description }}</td>
    <td>{{ person.price }}</td>
    <td>{{ person.img }}</td>
    <td>{{ person.valid }}</td>
  </tr>
</table>
</div>
