<div class="page-header">
  <h1>{{main.email}}'s Profile</h1>
</div>


<div class="panel panel-info">
  <div class="panel-heading" style="text-align:center;"><strong>User Profile</strong></div>
<table class="table">
  <tr>
    <td>
      <strong>Email Address:</strong>
    </td>
    <td>
      {{main.email}}
    </td>
  </tr>
  <tr>
    <td><strong>
      Mobile Number:
    </strong>
    </td>
    <td>
      {{main.phone}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Password:</strong>
    </td>
    <td>
      ***************
    </td>
  </tr>




</table>
</div>
