<div class="page-header">
  <h1>{{main.email}}'s Profile</h1>
</div>


<div class="panel panel-info">
  <div class="panel-heading" style="text-align:center;"><strong>User Profile</strong></div>
<table class="table">
  <tr>
    <td>
      <strong>Email Address:</strong>
    </td>
    <td>
      {{main.email}}
    </td>
  </tr>
  <tr>
    <td><strong>
      Mobile Number:
    </strong>
    </td>
    <td>
      {{main.phone}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>Password:</strong>
    </td>
    <td>
      ***************
    </td>
  </tr>
</table>
</div>


<hr>
<h1> Items Posted for selling </h1>
<hr>
<br>
<div class="panel panel-primary">
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Images</th>
    <th>Visibility</th>
  </tr>
  <tr ng-repeat="person in main.item | limitTo: 5">
    <td>{{ person.title }}</td>
    <td>{{ person.description }}</td>
    <td>{{ person.price }}</td>
    <td>{{ person.img }}</td>
    <td>{{ person.valid }}</td>
    <td>
      <a href="/edit/{{ person._id }}">
        <button type="button" class="btn btn-primary">Edit</button>
      </a>
        <button type="button" ng-click="main.deleteItem(person._id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>
</div>
